@page
@using AskerTracker.Web.Areas.Domain.Pages
@using AskerTracker.Web.Areas.Domain.Pages.Members
@model AskerTracker.Web.Areas.Domain.Pages.Members.Details.DetailsModel

@{
    ViewData["Title"] = "Member Details";
    ViewData["ActivePage"] = ManageNavPages.PersonalDetails;
}

<h2>Details</h2>

<div>
    <h3>Personal Information</h3>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Nickname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.DateJoined)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.DateLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.DateLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.BloodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.BloodType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Jmbg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Jmbg)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="../Edit" asp-route-id="@Model.Member.Id">Edit</a> |
    <a asp-page="../Index">Back</a> |
    <a asp-page="../Delete" asp-route-id="@Model.Member.Id">Delete</a>
</div>