@page
@using AskerTracker.Areas.Domain.Pages
@using AskerTracker.Areas.Domain.Pages.Members.Details
@model AskerTracker.Areas.Domain.Pages.Members.Details.ItemsModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = ManageNavPages.Items;
    ViewData["ParentFolder"] = NavigationInformation.ItemsFolder;
    var createPage = $"{ViewData["ParentFolder"]}/Create";
}

<h1>Index</h1>

<p>
    <a href="@createPage">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].Lender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item[0].Owner)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Item)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lender.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.FullName)
            </td>
            <td>
                <partial name="_EntryButtonsPartial" model="item"/>
            </td>
        </tr>
    }
    </tbody>
</table>