@page
@model AskerTracker.Pages.MembershipFees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form class="form-group row">
    <div class="input-group w-50">
        <select asp-for="MemberName" asp-items="Model.MembersSelectList" class="form-control">
            <option value="">All</option>
        </select>
        <button type="submit" class="btn btn-light">Filter</button>
    </div>
</form>

@if (Model.Message != null)
{
    <partial name="Shared/_NotificationAlertPartial" model="Model.Message"/>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MembershipFee[0].Member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MembershipFee[0].Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MembershipFee[0].TransactionDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.MembershipFee)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                <partial name="_EntryButtonsPartial" model="item"/>
            </td>
        </tr>
    }
    </tbody>
</table>