@model AskerTracker.Domain.BaseModels.BaseEntity

@{
    var parentFolder = ViewData["ParentFolder"] ?? ".";
    var editPage = parentFolder + "/Edit";
    var deletePage = parentFolder + "/Delete";
    var detailsPage = parentFolder + "/Details";
}

<td>
    <a asp-page="@editPage" asp-route-id="@Model.Id">
        <svg bootstrap-icon="Pen" width="1em" height="1em"></svg>
    </a>
    <span> | </span>
    <a asp-page="@detailsPage" asp-route-id="@Model.Id">
        <svg bootstrap-icon="ZoomIn" width="1em" height="1em"></svg>
    </a>
    <span> | </span>
    <a asp-page="@deletePage" asp-route-id="@Model.Id">
        <svg bootstrap-icon="Trash" width="1em" height="1em"></svg>
    </a>
</td>