@using AskerTracker.Areas.Domain.Pages
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    var memberId = ViewData["MemberId"];
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDetailsNavClass(ViewContext)" id="profile" asp-page="/Members/Details" asp-route-id="@memberId">Personal details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.FeesNavClass(ViewContext)" id="fees"
           asp-page="../MembershipFees/Index"
           asp-route-memberfilter="@memberId"
           asp-route-layout="@ViewData["Layout"]">
            Fees
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TrainingsNavClass(ViewContext)" id="trainings" asp-page="../Trainings/Index">Trainings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TestingEventsNavClass(ViewContext)" id="testing-events" asp-page="../TestingEvents/Index">Testing events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ItemsNavClass(ViewContext)" id="items" asp-page="../Items/Index">Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.NotesNavClass(ViewContext)" id="notes" asp-page="/">Notes</a>
    </li>
</ul>