@page
@model AskerTracker.Web.Areas.Domain.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Lender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Lender.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Owner.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id" asp-route-returnurl="@Model.ReturnUrl">Edit</a> |
    <a href="@Model.ReturnUrl">Back</a>
</div>