@page
@model AskerTracker.Areas.Domain.Pages.MembershipFees.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "Shared/_DetailsLayout";
}

<h1>Details</h1>

<div>
    <h4>MembershipFee</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipFee.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MembershipFee.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipFee.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MembershipFee.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipFee.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MembershipFee.Member.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MembershipFee.Id">Edit</a> |
    <a href="@Model.ReturnUrl">Back</a>
</div>