@page "{searchString?}"
@model AskerTracker.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-info">Create New</a>
</p>

<form>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control col-3" type="text" asp-for="SearchString"/>
            <button class="btn btn-light" type="submit">
                <svg bootstrap-icon="Search" width="1em"></svg>
            </button>
        </div>
    </div>
</form>

@if (Model.Message != null)
{
    <div>
        <span class="alert alert-info btn-block">@Model.Message</span>
    </div>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member[0].FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member[0].DateJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member[0].BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member[0].PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member[0].Active)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Member)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">
                    <svg bootstrap-icon="Pen" width="1em" height="1em"></svg>
                </a>
                <span> | </span>
                <a asp-page="./Details" asp-route-id="@item.Id">
                    <svg bootstrap-icon="ZoomIn" width="1em" height="1em"></svg>
                </a>
                <span> | </span>
                <a asp-page="./Delete" asp-route-id="@item.Id">
                    <svg bootstrap-icon="Trash" width="1em" height="1em"></svg>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section footer {
    <div>Hello!</div>
}