@page
@model AskerTracker.Web.Areas.Domain.Pages.TestingEvents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TestingEvent</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestingEvent.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestingEvent.Location.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestingEvent.DateHeld)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestingEvent.DateHeld)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TestingEvent.Id" asp-route-returnurl="@Model.ReturnUrl">Edit</a> |
    <a href="@Model.ReturnUrl">Back</a>
</div>